{
  "passPerPreset": false,
  "presets": [
    {
      "passPerPreset": false,
      "presets": [
        "es2015",
        "stage-1"
      ],
      "plugins": [
        "add-module-exports",
        "transform-remove-strict-mode"
      ]
    }
  ]
}
